@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

.imageGalleryWrapper {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.navbar {
  height: 100px;
}

.draggable-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 222px;
  float: left;
  margin: 10px;
}

.draggable-image input {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 99;
  height: 20px;
  width: 20px;
}

.hoverTransition {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #141414b7;
  display: none;
}

.draggable-image:hover .hoverTransition {
  display: block;
}

.first-image {
  height: auto;
  width: 460px;
  display: block;
}

.navbar button {
  color: rgba(255, 0, 0, 0.849);
}

.add-image-button button {
  color: rgb(141, 137, 137);
  border: thin dashed #95959c;
  height: 220px;
  width: 225px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: -1;
  margin-top: 495px;
}


/* Mobile Devices */
@media (max-width: 530px) {
  .first-image {
    width: 280px;
  }
}

@media (max-width: 991px) {
 
  .image-gellary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .add-image-button button {
    margin: auto;
  }

}